/* Block background image from the Jitsi container */
#jitsiMeeting-1 {
	background: none !important;
	box-shadow: none !important; /* Removes any box shadow */
}

/* Remove border from iframe */
#jitsiMeeting-1 iframe {
	border: none !important; /* Removes iframe border */
}
